body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

body, * {
  cursor: url('images/albinoCursor.cur') 16 16, auto;
}


.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.lastImage {
  width: 1289px;
  height: 956px;
  background-image: url("images/WIimg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease, font-size 1s ease;
}


.lastImage .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
  transition: transform 1s ease, font-size 1s ease;
  transform: scale(1.5);
}



.lastImage .content .coin-name {
  font-size: 3rem;
  font-weight: bold;
  transition: font-size 1s ease;
  color: white;
  text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.7), 
    -2px -2px 0px rgba(0, 0, 0, 0.7), 
    2px -2px 0px rgba(0, 0, 0, 0.7), 
    -2px 2px 0px rgba(0, 0, 0, 0.7);
}


.lastImage .content .wallet button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
}

.lastImage .content .wallet button:hover {
  transform: scale(1.1);
  background-color: rgba(169, 169, 169, 0.3);
  font-size: 1.2rem;
  border: 2px solid #555;
}

.lastImage .content .links .icon {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.lastImage .content .links .icon:hover {
  transform: scale(1.2);
  font-size: 2rem;
}

.lastImage .content .links img {
  height: 30px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.lastImage .content .links img:hover {
  transform: scale(1.2);
}
